<h1><%= t('view.obs.show')%></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.attribute.description.other')%></strong>
  <%= @observation.description %>
</p>

<%= link_to t('link.edit'), edit_observation_path(@observation) %> |
<%= link_to t('link.back'), observations_path %>
