<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :date_s %>
    <%= form.date_select :date_s %>
  </div>

  <div class="field">
    <%= form.label :patient %>
    <%= form.text_field :patient %>
  </div>

  <div class="field">
    <%= form.label :protocol %>
    <%= form.text_field :protocol %>
  </div>
  
  <div class="field">
    <%= form.label :age_range_id %>
    <%= form.select("age_range_id", @age_range_options, {include_blank: t('view.attribute.select')}) %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
