<h1><%= t('view.record.show')%></h1>
<p id="notice"><%= notice %></p>

<form>
  <div class="form-goup">
    <%= label_tag nil, t('view.attribute.date_s.one') %>
    <%= date_field_tag nil, @record.date_s, class:"form-control", disabled: true %>
  </div>
  
  <div class="form-goup">
    <%= label_tag nil, t('view.attribute.protocol.one') %>
    <%= text_field_tag nil, @record.protocol, class:"form-control", disabled: true %>
  </div>
  
  <div class="form-goup">
    <%= label_tag nil, t('view.attribute.age_range.one') %>
    <%= text_field_tag nil, @record.age_range.description, class:"form-control", disabled: true %>
  </div>
  
  <div class="form-goup">
    <%= label_tag nil, t('view.attribute.age.one') %>
    <%= text_field_tag nil, @record.age, class:"form-control", disabled: true %>
  </div>
  
  <div class="form-goup">
    <%= label_tag nil, t('view.attempt.other') %>
    <%= text_field_tag nil, @try, class:"form-control", disabled: true %>
  </div>  
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('view.attribute.protocol.one')%></th>
      <th><%= t('view.attribute.d_puncture.one')%></th>
      <th><%= t('view.worker.one')%></th>
      <th><%= t('view.obs.one')%></th>
      <th><%= t('view.attribute.try.try')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.record.protocol %></td>
        <td><%= l(attempt.d_puncture) %></td>
        <td><%= attempt.worker.description %></td>
        <td><%= attempt.observation.description %></td>
        <td><%= attempt.try %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('link.edit'), edit_record_path(@record), class:"btn btn-primary", role:"button" %> 
<%= link_to t('link.add_attempt'), attempts_protocol_path(@record.id), class:"btn btn-primary", role:"button" %> 
<%= link_to t('link.back'), records_path, class:"btn btn-secondary", role:"button" %>

