<h1><%= t('view.record.show')%></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.attribute.date_s.other')%></strong>
  <%= l(@record.date_s) %>
</p>

<p>
  <strong><%= t('view.attribute.protocol.other')%></strong>
  <%= @record.protocol %>
</p>

<p>
  <strong><%= t('view.attribute.patient.other')%></strong>
  <%= @record.patient %>
</p>

<p>
  <strong><%= t('view.attribute.age_range.other')%></strong>
  <%= @record.age_range.description %>
</p>


<p>
  <strong><%= t('view.attribute.age.other')%></strong>
  <%= @record.age %>
</p>

<p>
  <strong><%= t('view.attribute.try.o_plural') %></strong>
  <%= @try %>
</P>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('view.attribute.protocol.one')%></th>
      <th><%= t('view.attribute.d_puncture.one')%></th>
      <th><%= t('view.worker.one')%></th>
      <th><%= t('view.obs.one')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.record.protocol %></td>
        <td><%= l(attempt.d_puncture) %></td>
        <td><%= attempt.worker.description %></td>
        <td><%= attempt.observation.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('link.edit'), edit_record_path(@record), class:"btn btn-primary", role:"button" %> 
<%= link_to t('link.add_attempt'), attempts_protocol_path(@record.id), class:"btn btn-primary", role:"button" %> 
<%= link_to t('link.back'), records_path, class:"btn btn-secondary", role:"button" %>

