<h1><%= t('link.report.other') %></h1>

<div class="pull-right range_query">
  <%= form_tag reports_path, method: :get do %>
    <%= text_field_tag 'search[date_from]', l(@search.date_from.to_date) %>
    <%= text_field_tag 'search[date_to]', l(@search.date_to.to_date) %>
    <%= submit_tag 'Definir Datas', class: 'btn search_button' %>
  <% end %>  
</div>

<br>
<p><%= "Atualmente as datas estão definidas entre #{l(@search.date_from.to_date)} e #{l(@search.date_to.to_date)}" %></p>
<%= link_to t('link.research_reports'), research_path(@search.date_from, @search.date_to), class:'btn btn-primary' %> |
<%= link_to t('link.back'), welcome_index_path, class:'btn btn-secondary' %>