<h1 class="text-center"><%= t('msg.report_3') << l(params[:begin].to_date) << t('msg.report_2') << l(params[:end].to_date) %></h1>

<br>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th><%= t('report.total') %></th>
      <th><%= @total %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table> <br>

<table class="table table-hover text-center">  
  <thead>
    <tr>
      <th colspan="2"><%= t('report.by_age_range') %></th>
    </tr>
    <tr>
      <th><%= t('view.age_range.one') %></th>
      <th><%= t('report.amount') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adulto</td>
      <td><%= @count_adult %></td>
    </tr>
    <tr>
      <td>Criança</td>
      <td><%= @count_child %></td>
    </tr>
  </tbody>
</table> <br>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th colspan="2"><%= t('report.by_colector') %></th>
    </tr>
    <tr>
      <th><%= t('view.worker.other')%></th>
      <th><%= t('report.amount') %></th>
    </tr>
  </thead>
  <tbody>
    <% @workers_list.each do |worker| %>    
      <tr>
        <td><%= worker[:description] %></td>        
        <td><%= worker[:qtde] %></td>
      </tr>
    <% end %>
  </tbody>
</table> <br>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th colspan="6"><%= t('report.by_colector_2') %></th>
    </tr>
    <tr>
      <th><%= t('view.worker.other')%> </th>
      <th>1ª</th>
      <th>2ª</th>
      <th>3ª</th>
      <th>4ª</th>
      <th>5ª+</th>
    </tr>
  </thead>
  <tbody>
    <% @workers_list.each do |worker| %>    
      <tr>
        <td><%= worker[:description] %></td>        
        <td><%= worker[:try_1] %></td>
        <td><%= worker[:try_2] %></td>
        <td><%= worker[:try_3] %></td>
        <td><%= worker[:try_4] %></td>
        <td><%= worker[:try_5] %></td>
      </tr>
    <% end %>
  </tbody>
</table>  <br>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th colspan="2"><%= t('report.by_obs') %></th>
    </tr>
    <tr>
      <th><%= t('view.obs.other') %></th>
      <th><%= t('report.amount') %></th>
    </tr>
  </thead>
  <tbody>
    <% @obs_list.each do |observation| %>    
      <tr>
        <td><%= observation[:description] %></td>        
        <td><%= observation[:qtde] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('link.back'), reports_path, class:"btn btn-secondary", role:"button" %>
<%= link_to t('link.back_index'), welcome_index_path, class:"btn btn-secondary", role:"button" %>